<div class="container">
    <div class="card shadow mb-4">
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
                <th>Id</th>

              <th>Titre</th>
              <th>Date de Début</th>
              <th>Date de Fin</th>
              <th>Entreprise</th>
              <th>Type</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stage of stages">
                <td>{{ stage.id }}</td>

              <td>{{ stage.titre }}</td>
              <td>{{ stage.dateDebut | date: 'shortDate' }}</td>
              <td>{{ stage.dateFin | date: 'shortDate' }}</td>
              <td>{{ stage.entreprise }}</td>
              <td>{{stage.type?.nom}}</td>
              <td><a class="btn btn-danger" (click)="supprimerStage(stage)">Supprimer</a></td>
              <td><a class="btn btn-success" [routerLink]="['/updateStage',stage.id]">Modifier</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  